@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
}

:root {
    --cor-fundo-1: rgba(196, 196, 196, 0.7);
    --produtos-container: #F2EFE5;
    --card-produto: rgba(196, 196, 196, 0.4);
    --botao-cancel: rgba(236, 27, 27, 0.7);
    --botao-checkout: rgba(63, 158, 247, 1);
    --cor-fundo-2: rgba(28, 27, 27, 1);
}

/*-----------------------*/
/*      Parte Cinza      */
/*-----------------------*/

/*      BARRA SUPERIOR      */

.gray-part {
    background-color: var(--cor-fundo-1);
    width: 50%;
    height: 100vh;
}

.header-start {
    width: 100%;
    height: 6vh;
    display: flex;
    padding: 2vh 0 0 0;
}

.perfil {
    margin: 1vh 4vh 0 4vh;
}

.bag {
    margin: 1vh 0 0 0;
}

.header-end {
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10vh 0 0;
    letter-spacing: 0.1vh;
}

.arrow {
    display: flex;
}

/*      CENTRO COM OS PRODUTOS      */

.gray-section {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh 0 0 0;
}

.light-container {
    background-color: var(--produtos-container);
    width: 80%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1.5vh;
    gap: 1vh;
}

.tenis-container {
    background-color: var(--card-produto);
    width: 95%;
    height: 23%;
    display: flex;
    flex-direction: row;
    border-radius: 1.5vh;
    padding: 2vh;
    gap: 2vh;
}

.product-name {
    width: 100%;
    height: 30%;
}

.product-infor1 {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    gap: 25vh;
    margin-bottom: 2vh;
}

.product-info2 {
    display: flex;
    gap: 2vh;
}

.imgquant {
    display: flex;
    width: 100%;
    height: 100%;
}

.product-infor2 {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    gap: 15vh;
}

.product-info3 {
    display: flex;
    gap: 2vh;
}

.imgcolor {
    display: flex;
    width: 100%;
    height: 100%;
}

/*      PREÇO TOTAL      */

.total-price {
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-nav {
    display: flex;
    gap: 2vh;
    margin: 0 15vh 0 0;
}

.footer-nav p {
    background-color: rgba(196, 196, 196, 0.5);
    width: 8vh;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2vh;
    font-weight: 600;
}

/*      DOIS BOTÕES NO FINAL      */

.gray-footer {
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-buttons {
    display: flex;
    gap: 15vh;
    margin: 0 5vh 0 0;
}

.button-cancel {
    background-color: var(--botao-cancel);
    width: 25vh;
    height: 5.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vh;
    gap: 1vh;
}

.button-checkout {
    background-color: var(--botao-checkout);
    width: 25vh;
    height: 5.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vh;
    gap: 1vh;
}

.button-cancel:hover {
    background-color: rgba(236, 27, 27, 0.8);
}

.button-checkout:hover {
    background-color: rgba(63, 158, 247, 0.8);
}

/*-----------------------*/
/*      Parte Preta      */
/*-----------------------*/

/*      BARRA SUPERIOR - PARTE PRETA      */

.black-part {
    background-color: var(--cor-fundo-2);
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.black-header {
    background-color: var(--cor-fundo-2);
    width: 100%;
    height: 6vh;
    display: flex;
    padding: 2vh 0 0 0;
    color: white;
}

.header-start-black {
    width: 50%;
    height: 6vh;
    display: flex;
    align-items: center;
    padding: 0 0 0 10vh;
    letter-spacing: 0.1vh;
}

.header-end-black {
    width: 50%;
    height: 6vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2vh;
    padding: 0 10vh 0 0;
    letter-spacing: 0.1vh;
}

/*      PARTE CENTRAL - TEXTO E CARTÕES      */

.checkout-info {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5vh 0 0 0;
    padding: 0 0 0 8vh;
    gap: 3vh;
    color: white;
}

.checkout-info h1 {
    font-size: 3vh;
    font-weight: 600;
    text-decoration: underline;
}

.checkout-info h3 {
    font-size: 2.5vh;
    font-weight: 600;
    text-decoration: underline;
}

.little-three, .big-one  {
    display: flex;
    justify-content: center;
    margin: 1vh 2vh 1vh 2vh;
}

/*      DUAS FRASES DA FOOTER      */

.black-footer {
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: space-around;
}

.black-footer h1 {
    font-size: 2.2vh;
    font-weight: 500;
    color: white;
}